insert into ofs..App_LocationSettings (GlobalSettingID, SettingValue, Active, LocationID, LocationNo)
select 18, 2, 1, locationid, locationno
  from HPB_Prime..locations where locationno = '00003'

insert into ofs..App_LocationSettings (GlobalSettingID, SettingValue, Active, LocationID, LocationNo)
  select 18, 2, 1, locationid, locationno
  from HPB_Prime..locations where locationno = '00018'

insert into ofs..App_LocationSettings (GlobalSettingID, SettingValue, Active, LocationID, LocationNo)
  select 18, 2, 1, locationid, locationno
  from HPB_Prime..locations where locationno = '00033'

insert into ofs..App_LocationSettings (GlobalSettingID, SettingValue, Active, LocationID, LocationNo)
  select 18, 2, 1, locationid, locationno
  from HPB_Prime..locations where locationno = '00043'

insert into ofs..App_LocationSettings (GlobalSettingID, SettingValue, Active, LocationID, LocationNo)
  select 18, 2, 1, locationid, locationno
  from HPB_Prime..locations where locationno = '00049'

insert into ofs..App_LocationSettings (GlobalSettingID, SettingValue, Active, LocationID, LocationNo)
  select 18, 2, 1, locationid, locationno
  from HPB_Prime..locations where locationno = '00065'

insert into ofs..App_LocationSettings (GlobalSettingID, SettingValue, Active, LocationID, LocationNo)
  select 18, 2, 1, locationid, locationno
  from HPB_Prime..locations where locationno = '00083'

insert into ofs..App_LocationSettings (GlobalSettingID, SettingValue, Active, LocationID, LocationNo)
  select 18, 2, 1, locationid, locationno
  from HPB_Prime..locations where locationno = '00094'

insert into ofs..App_LocationSettings (GlobalSettingID, SettingValue, Active, LocationID, LocationNo)
  select 18, 2, 1, locationid, locationno
  from HPB_Prime..locations where locationno = '00098'

insert into ofs..App_LocationSettings (GlobalSettingID, SettingValue, Active, LocationID, LocationNo)
  select 18, 2, 1, locationid, locationno
  from HPB_Prime..locations where locationno = '00108'

insert into ofs..App_LocationSettings (GlobalSettingID, SettingValue, Active, LocationID, LocationNo)
  select 18, 2, 1, locationid, locationno
  from HPB_Prime..locations where locationno = '00109'

insert into ofs..App_LocationSettings (GlobalSettingID, SettingValue, Active, LocationID, LocationNo)
  select 18, 2, 1, locationid, locationno
  from HPB_Prime..locations where locationno = '00111'

insert into ofs..App_LocationSettings (GlobalSettingID, SettingValue, Active, LocationID, LocationNo)
  select 18, 2, 1, locationid, locationno
  from HPB_Prime..locations where locationno = '00115'

insert into ofs..App_LocationSettings (GlobalSettingID, SettingValue, Active, LocationID, LocationNo)
  select 18, 2, 1, locationid, locationno
  from HPB_Prime..locations where locationno = '00117'

insert into ofs..App_LocationSettings (GlobalSettingID, SettingValue, Active, LocationID, LocationNo)
  select 18, 2, 1, locationid, locationno
  from HPB_Prime..locations where locationno = '00119'

insert into ofs..App_LocationSettings (GlobalSettingID, SettingValue, Active, LocationID, LocationNo)
  select 18, 2, 1, locationid, locationno
  from HPB_Prime..locations where locationno = '00046'

insert into ofs..App_LocationSettings (GlobalSettingID, SettingValue, Active, LocationID, LocationNo)
  select 18, 2, 1, locationid, locationno
  from HPB_Prime..locations where locationno = '00124'

insert into ofs..App_LocationSettings (GlobalSettingID, SettingValue, Active, LocationID, LocationNo)
  select 18, 2, 1, locationid, locationno
  from HPB_Prime..locations where locationno = '00128'

